@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-inter: "Inter", sans-serif;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #632EE3;
  --color-secondary: teal;
}
.btn-primary{
  @apply bg-gradient-to-r from-[#632EE3]
}
 to-